langchain-text-splitters==0.3.4
emoji==2.14.1
starlette==0.37.2
filelock==3.17.0
python-dotenv==1.0.1
anyio==4.8.0
watchfiles==0.20.0
zipp==3.21.0
nest-asyncio==1.6.0
literalai==0.0.607
jsonschema==4.23.0
referencing==0.36.2
Deprecated==1.2.15
PyJWT==2.10.1
tenacity==9.0.0
mdurl==0.1.2
Werkzeug==3.1.3
flask-cors==5.0.1
nvidia-cublas-cu12==12.4.5.8
mpmath==1.3.0
multiprocess==0.70.16
opentelemetry-sdk==1.28.2
aiohappyeyeballs==2.4.4
types-PyYAML==6.0.12.20240917
opentelemetry-instrumentation==0.49b2
torch==2.5.1
nvidia-cuda-nvrtc-cu12==12.4.127
opentelemetry-semantic-conventions==0.49b2
protobuf==5.29.2
platformdirs==4.3.6
pydantic_core==2.27.1
neo4j==5.27.0
twilio==9.4.6
typing_extensions==4.12.2
annotated-types==0.7.0
sentry-sdk==2.23.1
nvidia-nvjitlink-cu12==12.4.127
peewee==3.17.8
mypy-extensions==1.0.0
tiktoken==0.8.0
click==8.1.7
sympy==1.13.1
dill==0.3.8
langchain==0.3.13
syncer==2.0.3
rpds-py==0.23.1
requests==2.32.3
wandb==0.19.8
aiofiles==23.2.1
backoff==2.2.1
lxml==5.3.0
filetype==1.2.0
nvidia-cuda-cupti-cu12==12.4.127
charset-normalizer==3.4.0
bidict==0.23.1
frozendict==2.4.6
openai==1.58.1
safetensors==0.5.2
tzdata==2024.2
torchvision==0.20.1
python-dateutil==2.9.0.post0
websockets==13.1
nvidia-cusolver-cu12==11.6.1.9
langchain-openai==0.2.13
httpx==0.28.1
wrapt==1.17.0
pytz==2024.2
regex==2024.11.6
setproctitle==1.3.5
idna==3.10
fsspec==2024.9.0
marshmallow==3.23.2
appdirs==1.4.4
pydantic-settings==2.7.0
html5lib==1.1
jiter==0.8.2
psutil==6.1.1
docker-pycreds==0.4.0
pytest==8.3.5
iniconfig==2.1.0
Flask==3.1.0
plotly==5.24.1
yarl==1.18.3
importlib_metadata==8.5.0
tqdm==4.67.1
propcache==0.2.1
langfuse==2.59.7
frozenlist==1.5.0
requests-toolbelt==1.0.0
graphql-core==3.2.4
blinker==1.9.0
pandas==2.2.3
chainlit==1.1.306
numpy==1.26.4
fastapi==0.110.3
ragas==0.2.12
jsonschema-specifications==2024.10.1
smmap==5.0.2
nvidia-cufft-cu12==11.2.1.3
packaging==23.2
uptrace==1.28.2
accelerate==1.3.0
attrs==25.3.0
tokenizers==0.21.0
json_repair==0.30.3
jsonpatch==1.33
langsmith==0.2.4
python-multipart==0.0.9
nvidia-cudnn-cu12==9.1.0.70
opentelemetry-exporter-otlp-proto-common==1.28.2
pydantic==2.10.1
pluggy==1.5.0
tomli==2.2.1
triton==3.1.0
sniffio==1.3.1
neo4j-graphrag==1.3.0
transformers==4.48.1
orjson==3.10.12
datasets==3.2.0
httpx-sse==0.4.0
pyarrow==19.0.0
pytest-asyncio==0.26.0
typing-inspect==0.9.0
diskcache==5.6.3
greenlet==3.1.1
itsdangerous==2.2.0
dataclasses-json==0.5.14
aiohttp==3.11.11
pdf2image==1.17.0
Pygments==2.19.1
langchain-community==0.3.12
h11==0.14.0
googleapis-common-protos==1.66.0
exceptiongroup==1.2.2
opentelemetry-proto==1.28.2
networkx==3.2.1
asgiref==3.8.1
nvidia-nvtx-cu12==12.4.127
gitdb==4.0.12
yfinance==0.2.50
nvidia-cuda-runtime-cu12==12.4.127
async-timeout==4.0.3
opentelemetry-api==1.28.2
chevron==0.14.0
eval_type_backport==0.2.2
MarkupSafe==3.0.2
webencodings==0.5.1
huggingface-hub==0.27.1
beautifulsoup4==4.12.3
nvidia-cusparse-cu12==12.3.1.170
weave==0.51.37
asyncer==0.0.2
aiosignal==1.3.2
distro==1.9.0
python-socketio==5.12.0
xxhash==3.5.0
gql==3.5.2
Lazify==0.4.0
wsproto==1.2.0
nvidia-nccl-cu12==2.21.5
opentelemetry-exporter-otlp==1.28.2
grpcio==1.68.1
GitPython==3.1.44
nvidia-curand-cu12==10.3.5.147
python-engineio==4.11.1
langchain-core==0.3.27
simple-websocket==1.1.0
Jinja2==3.1.5
multidict==6.1.0
urllib3==2.3.0
aiohttp-retry==2.9.1
uuid_utils==0.10.0
SQLAlchemy==2.0.36
pillow==11.1.0
opentelemetry-exporter-otlp-proto-grpc==1.28.2
uvicorn==0.25.0
soupsieve==2.6
multitasking==0.0.11
httpcore==1.0.7
markdown-it-py==3.0.0
rich==13.9.4
opentelemetry-exporter-otlp-proto-http==1.28.2
six==1.14.0
entrypoints==0.3
lazr.restfulclient==0.14.2
httplib2==0.14.0
pip==20.0.2
urllib3==1.25.8
requests-unixsocket==0.2.0
wadllib==1.3.3
PyJWT==1.7.1
dbus-python==1.2.16
pyserial==3.4
ssh-import-id==5.10
python-debian==0.1.36+ubuntu1.1
configobj==5.0.6
PyYAML==5.3.1
certifi==2019.11.28
unattended-upgrades==0.1
Jinja2==2.10.1
incremental==16.10.1
MarkupSafe==1.1.0
WALinuxAgent==2.2.46
distro==1.4.0
distro-info==0.23+ubuntu1.1
lazr.uri==1.0.3
zipp==1.0.0
python-apt==2.0.1+ubuntu0.20.4.1
hyperlink==19.0.0
keyring==18.0.1
command-not-found==0.3
oauthlib==3.1.0
Automat==0.8.0
setuptools==45.2.0
importlib-metadata==1.5.0
jsonpointer==2.0
jsonschema==3.2.0
cloud-init==23.3.3
simplejson==3.16.0
attrs==19.3.0
Click==7.0
more-itertools==4.2.0
colorama==0.4.3
pyOpenSSL==19.0.0
pyasn1==0.4.2
sos==4.5.6
pymacaroons==0.13.0
SecretStorage==2.3.1
pyasn1-modules==0.2.1
ufw==0.36
pexpect==4.6.0
ubuntu-advantage-tools==8001
service-identity==18.1.0
PyGObject==3.36.0
netifaces==0.10.4
requests==2.22.0
pyparted==3.11.2
idna==2.8
pyrsistent==0.15.5
PyNaCl==1.3.0
wheel==0.34.2
cryptography==2.8
Twisted==18.9.0
launchpadlib==1.10.13
systemd-python==234
PyHamcrest==1.9.0
zope.interface==4.7.1
jsonpatch==1.22
constantly==15.1.0
language-selector==0.1
chardet==3.0.4
blinker==1.4
